* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

header {
    background-color: #23180d;
}

.nav {
    height: 90px !important;

    figure {
        width: 100%;
        height: 100%;

        img {
            margin-top: 8% !important;
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    input {
        border: none;
        outline: none;
        border-radius: 4px;
        padding-left: 3%;
    }

    ul {
        &:nth-of-type(2) {
            li {
                a {
                    border-radius: 5px;
                    cursor: pointer;
                    color: #ffff !important;
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        background-color: #c52d2f;
                    }
                }

                &:nth-of-type(1) {
                    background-color: #c52d2f;
                    border-radius: 5px;

                }

                svg {
                    border-radius: 5px;
                    width: 35px !important;
                    height: 35px !important;
                    cursor: pointer;
                    color: #ffff !important;
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        background-color: #c52d2f;
                    }
                }
            }
        }
    }
}

.mobile {
    background-color: #23180d;

}

#toggle {
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    cursor: pointer;
    overflow: hidden;

    >span {
        display: flex;
        width: 80%;
        height: 2px;
        background-color: #ffffff;
        border-radius: 2px;
        transition: .4s;

        &:nth-of-type(1) {
            transform-origin: top left;
        }

        &:nth-of-type(3) {
            transform-origin: bottom left;
        }
    }
}

#mobile {
    width: 100%;
    transition: .7s;
    overflow: hidden;

    li {
        input {
            border: none;
            outline: none;
            border-radius: 4px;
            padding-left: 3%;
        }

        a {
            border-radius: 5px;
            cursor: pointer;
            color: #ffff !important;
            transition: 0.3s all ease-in-out;

            &:hover {
                background-color: #c52d2f;
            }
        }

        &:nth-of-type(1) {
            background-color: #c52d2f;
            border-radius: 5px;

        }

        svg {
            border-radius: 5px;
            width: 35px !important;
            height: 35px !important;
            cursor: pointer;
            color: #ffff !important;
            transition: 0.3s all ease-in-out;

            &:hover {
                background-color: #c52d2f;
            }
        }
    }
}

.welcome {
    background-color: #2d2013;

    div {

        // border-bottom: 3px solid white;
        ul {

            &:nth-of-type(2) {
                li {
                    &:nth-of-type(2) {
                        p {
                            span {
                                color: #d57d1f;
                                cursor: pointer;
                                transition: 0.3s;

                                &:hover {
                                    color: #ffc439;
                                }
                            }
                        }

                        button {
                            background-color: #ffc439;
                            border: none;
                            outline: none;
                            border-radius: 7px;
                            transition: 0.3s all ease-in-out;

                            a {
                                color: black;
                                cursor: pointer;

                                span {
                                    &:nth-of-type(2) {
                                        color: #428bca;
                                        font-weight: bold;
                                        cursor: pointer;
                                    }

                                    &:nth-of-type(1) {
                                        font-weight: bold;
                                        cursor: pointer;
                                        color: #0e0499;
                                    }
                                }
                            }

                            &:hover {
                                background-color: #c99828;
                            }
                        }
                    }
                }
            }
        }
    }
}

.search {
    background-color: #2d2013;

    ul {

        &:nth-of-type(1) {

            li {
                input {
                    border: none;
                    outline: none;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                }

                button {
                    border: none;
                    outline: none;
                    background-color: #ffffff !important;
                    border-left: 1px solid rgb(141, 141, 141);
                    width: 32px;
                    height: 32px;
                    margin-top: 4px;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }

        &:nth-of-type(2) {
            border-bottom: 3px solid white;
            color: #ffff;

            li {
                figure {
                    font-weight: bold;

                    small {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}


.view {
    background-color: #2d2013;

    div {
        div {
            border-bottom: 3px solid white;

            figcaption {
                cursor: pointer;
                color: #d57d1f;
                transition: 0.3s all ease-in-out;

                &:hover {
                    color: #ecb63a;
                }
            }
        }
    }
}

.view1 {
    background-color: #2d2013;

    div {
        div {

            figcaption {
                cursor: pointer;
                color: #d57d1f;
                transition: 0.3s all ease-in-out;

                &:hover {
                    color: #ecb63a;
                }
            }
        }
    }
}

footer {
    background-color: #23180d;
    color: #ffffff;

    ul {
        &:nth-of-type(2) {
            li {
                figure {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
            }
        }

        &:nth-of-type(3) {
            li {
                cursor: pointer;
                transition: 0.4s all ease-out;

                &:hover {
                    color: #a50508;
                }
            }
        }
    }

}